/* Estilos Gerais */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

*, button, button:hover, button:active, button:focus {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
  outline: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  position: absolute;
  display: flex;
  align-items: center;
  width: 100vw;
  height: 100vh;

}

.panel {
  min-height: 18.75rem;
  border: 1.5px solid steelblue;
  overflow: auto;
  height: 100%;
}

.panel_A {
  min-width: fit-content;
  resize: horizontal;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.panel_B {
  justify-content: center;
  width: 100%;
}

/* Estilos Painel A - Esquerdo */

.profile {
  display: flex;
  position: relative;
  justify-content: space-between;
  padding: .5rem;
  width: 100%;
  height: fit-content;
}

.profile_btn {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: #fff;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 50%;
  border: 1px solid black;
  height: 2.5rem;
  width: 2.5rem;
}

.profile_btn:hover {
  cursor: pointer;
  background: cadetblue;
}

/* Botão de Logout escondido */
.dropdown_logout {
  display: none;
  position: absolute;
  left: 5%;
  background-color: #f1f1f1;
  min-width: 5rem;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.logout_button {
  color: black;
  font-size: 1rem;
  font-weight: bold;
  padding: .2rem 0;
}

.dropdown_logout p:hover {background-color: #ddd;}

.profile_btn:hover .dropdown_logout {display: block;}



/* ================================= */

.btn {
  display: flex;
  border: 2px solid black;
  background-color: #fafafa;
  text-align: center;
  text-decoration: none;
  align-items: center;
  justify-content: space-between;
  font-size: .8rem;
  padding: .2rem .2rem .2rem .4rem;
  width: 4rem;
  height: 1.5rem;
  font-weight: bold;
  box-shadow: .125rem .125rem 0 0 black;
  cursor: pointer;
}

hr.separator {
  border: 2px solid rgb(54, 54, 54);
  border-radius: 50%;
  width: 90%;
  margin-left: 5%;
}

.favoritos {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  padding: .3rem .5rem 1rem 2rem;
  font-weight: bold;

}

.favoritos_ellipsis {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

/* Estilos Contas e Caixas de E-mail */


.account {
  
  
}

.account_name {
  cursor: pointer;
  width: fit-content;
  padding-bottom: .5rem;
}

.box {
  margin-left: 1.5rem;
  width: fit-content;
  padding-bottom: .2rem;
  padding-right: .2rem;
  cursor: pointer;
}

element.style {
  transform: none;
}




/* Estilos Painel B - Direito */
.searchbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem .5rem;
  border: 2px solid black;
}

.barra_pesquisa {
  width: 100%;
  border: none
}

.acoes {
  display: flex;
  align-content: center;
  align-items: center;
  padding-left: 5%;
  padding-right: 1%;
  justify-content: space-between;
}

.acoes_btns {
  display: flex;
}

.acoes_checkbox {
  display: flex;
  align-items: center;
}

.acoes_btn {
  border: 2px solid black;
  padding: .2rem;
  width: 4rem;
  height: 1.5rem;
  margin: .2rem .4rem .3rem;
  text-align:center;
  font-size: .8rem;
  font-weight: bold;
  box-shadow: .125rem .125rem 0 0 black;
  cursor: pointer;
}

.filter {
  display: flex;
  align-items: center;
}

.fa-filter {
  font-size: 2rem;
}

/* Estilos Caixas de Mensagens */

.message_box {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr 2fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: 
    "senderPic Name Name timestamp"
    "senderPic subject subject timestamp"
    "senderPic mailbox owners owners";
  border: 2px solid black;
  width: 100%;
  height: 4.5rem;
  align-items: center;
  justify-items: left;


}

.message_box:hover {
  cursor: pointer;
}

.sender_pic {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: #fff;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1rem;
  border-radius: 50%;
  border: 2px solid black;
  height: 2.5rem;
  width: 2.5rem;
  margin: .5rem;
  grid-area: senderPic;
}

.name {
  text-align:left;
  font-size: 1rem;
  font-weight: bold;
  grid-area: Name;
}

.subject {
  text-align:left;
  font-size: .8rem;
  font-weight: bold;
  grid-area: subject;
}

.mailbox {
  grid-area: mailbox;
  display: flex;
}

.mailbox_name {
  text-align:justify;
  font-size: .8rem;
  font-weight: bold;
  padding-left: .7rem;
}

.timestamp {
  justify-self: center;
  font-size: .8rem;
  font-weight: bold;
  grid-area: timestamp;
}

.owners {
  grid-area: owners;
  justify-self: center;
}